{% extends "mybase.html" %}{% block title %}Home - Thread{% endblock %} {% block content %}
<h1 class="m-3">{{ thread.title }}</h1>
<div class="container mt-5">
    <div class="card border-0">
        <div class="card-body">
            <p class="card-text m-3">{{ thread.content }}</p>
            <p class="card-text m-3">Likes: {{ thread.like }}</p>
            <form method="POST" action="{{ url_for('like_thread', thread_id=thread.id) }}">
                <button type="submit" class="btn btn-primary">Like</button>
            </form>
        </div>
    </div>
    <a href="{{ url_for('create_comment', thread_id=thread.id) }}" class="btn btn-primary">Create Comment</a>
</div>
{% endblock %}